@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Righteous&display=swap');
:root {
    --color1:#5680E9;
 --color2:#84CEEB;
 --color3:#5AB9EA;
 --color4:#C1C8E4;
 --color5:#8860D0;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9,#dff1ff)
}
.main .bgcolor{
    position: absolute;
    filter: blur(150px);
}
.main .bgcolor:nth-child(1){
   left: 100px;
    width: 400px;
    height: 400px;
    top: -150px;
    background-color: #C1C8E4;
}
.main .bgcolor:nth-child(2){
    width: 400px;
    height: 400px;
    left: 50px;
    bottom: -50px;
    background-color: #fffd87;
}
.main .bgcolor:nth-child(3){
    width: 400px;
    height: 400px;
    bottom: 100px;
    right: 300px;
    background-color: #5AB9EA;
}
.menu_header{
    position: relative !important;
}
.cont{
    width: 100%;
    margin-top: 1rem;
    position: relative !important;
}
.heading{
    font-family: Righteous;
    color: #5680E9;
}
.descp{

    font-size: 26em;
    /* color: #84CEEB; */
    color: var(--color5);
}
.SignBtn{
    background-color: var(--color5);
    width: 150px;
    max-width: 100%;
    color: #ffff;   
}
.Grid{
    padding: 1em !important;
}
.sideimag{
    /* margin-left: 5em !important; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 1000px) {}

@media (max-width: 900px) {}

@media (max-width: 800px) {}

@media (min-width: 700px) {}

@media (max-width: 700px) {
    .css-10mzr36-MuiGrid-root>.MuiGrid-item{
        padding-left: 0 !important;
    }
    .heading{
        font-family: Righteous;
        color: #5680E9;
        text-align: center;
        margin: 1em;
    }
    .descp{
        text-align: center;
        font-size: 1em;
        color: #84CEEB;
        padding: 1em;
    }
   
    .SignBtn{
        margin: 1em 0 2em 0;
        background-color: var(--color5);
        width: 100%;
        max-width: 100%;
        color: #ffff;   
    }
    .sideimag img{
        width: 30em;
    }
}

@media (max-width: 600px) {}

@media (max-width: 557px) {}

@media (max-width: 500px) { }

@media (max-width: 500px) and (min-width:370px) {
    .sideimag img{
        width: 20em;
        margin-left: 2em;
    }
}

@media (max-width: 450px) {}

@media (max-width: 400px) {}

@media (max-width: 350px) {
    .sideimag img{
        width: 15em;
        
    }
  
}

@media (max-width: 300px) {
    
}